# ========================
# Node / React
# ========================
node_modules/
build/
dist/
*.log

# ========================
# Python
# ========================
__pycache__/
*.pyc

# ========================
# Env
# ========================
.env

# ========================
# IDE / OS
# ========================
.vscode/
.idea/
.DS_Store

# ========================
# Cache
# ========================
.cache/